.image {

  span {
    white-space: pre;
    margin: auto;
    display: inline-block;
    padding: 1em;
    font-family: monospace;
  }
}
label {
  font-size: 50px;
  margin: 15px;
  padding: 5px;
}
body {
  background-color: grey;
  font-size: 50px;
  border: 3px solid white;
}

#images {
  margin: 20px;
}
