.meme {
  margin: 0px;
  width: auto;
  height: auto;
  position: relative;
  text-align: center;
}

.imageMeme {
  border: 10px solid black;
}

.memeText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

label {
  font-size: 30px;
  margin: 15px;
  padding: 5px;
  left: 16px;
}

input {
  width: 300px;
  height: auto;
}

h1 {
  margin: 3;
}

body {
  background-color: rgb(208, 220, 239);
  font-size: 50px;
  border: 3px solid white;
}

#images {
  margin: 20px;
}

.labelContainer{
  border: 2px solid black;
  flex-direction: row;
  justify-content: center;
  display: flex;
}
