@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Archivo|Montserrat|Open+Sans|Paprika|Roboto');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Allerta Stencil', sans-serif; */
/* font-family: 'Archivo', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Paprika', cursive; */


.memeForm {
  display: block;
}

.meme {
  position: relative;
  text-align: center;
  color: black;
  margin: 0px;
  width: auto;
  height: auto;
  text-shadow:
    -1.5px -1.5px 0 #FFF,
    1.5px -1.5px 0 #FFF,
    -1.5px 1.5px 0 #FFF,
    1.5px 1.5px 0 #FFF;
}

.memeImage {
  object-fit: cover;
  object-position: left;
  z-index: -1;
}

.memeText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 46px;
}

.top {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -50%);
}
